#topTable
  = image_tag("T_CornersTopTable.png", id:"mainTop")
  #aboutUs{class:"topNav"}
    = image_tag("T_AboutUs.png")
    #aboutUsTable{class:"navDropDown"}
      %table
        %tr
          %td
            = link_to "Overview", home_overview_path
        %tr
          %td
            = link_to "Members", home_members_path
  #goals{class:"topNav"}
    = image_tag("T_Goals.png", class:"topNav")
    #goalsTable{class:"navDropDown"}
      %table
        %tr
          %td
            = link_to "Initiatives", home_initiatives_path
  #ourWork{class:"topNav"}
    = image_tag("T_OurWork.png", class:"topNav")
    #ourWorkTable{class:"navDropDown"}
      %table
        %tr
          %td
            = link_to "2011", home_work2011_path
        %tr
          %td
            = link_to "2010", home_work2010_path
  #events{class:"topNav"}
    = image_tag("T_Events.png", class:"topNav")
    #eventsTable{class:"navDropDown"}
      %table
        %tr
          %td
            = link_to "2012", home_event2012_path
        %tr
          %td
            = link_to "2011", home_event2011_path	
        %tr
          %td
            = link_to "2010", home_event2010_path
  #donations{class:"topNav"}
    = image_tag("T_Donations.png", class:"topNav")
    #donationsTable{class:"navDropDown"}
      %table
        %tr
          %td
            = link_to "Why Give?", home_whygive_path
        %tr
          %td
            = link_to "2010 Sponsors", home_sponsors2010_path
        %tr
          %td
            = link_to "Make a Donation", home_makedonation_path