= render partial:"ie"
/= stylesheet_link_tag "gimpTop"
/= render partial:"top"
/#mainContainer
#mainC
	= render partial: "gimpTop"
	#pageTitle
		/%h1
		/	Purchase your 2012 Gala tickets here!
		.savethedate
			=image_tag 'savethedate_2012.png'
		#paypal
			= render partial: 'paypal'
			= link_to("What are the sponsorship levels?", asset_path("CornersSponsorshipTiers.pdf"))
= render partial:"footer"