= render partial:"ie"
= stylesheet_link_tag "gimpTop"
/= render partial:"top"
/#mainContainer
#mainC{style:"height: 1150px;"}
	= render partial: "gimpTop"
	#pageTitle
		%h1
			2010 Annual Gala
	#ourWork
		.topPanes
			%div
				%table{style:"padding-top:100px;"}
					%tr
						%td{class:"navButton"}
							%a{class:"backward"}
								.navButtonPrev
									= image_tag 'nextImages.jpg'
						%td{class:"pictures"}
							= image_tag 'invitationii.png'
							= image_tag 'gala_0.jpg'
							= image_tag 'gala_1.jpg'
							= image_tag 'gala_2.jpg'
							= image_tag 'gala_3.jpg'
							= image_tag 'gala_4.jpg'
							= image_tag 'gala_5.jpg'
							= image_tag 'gala_6.jpg'
							= image_tag 'gala_7.jpg'
							= image_tag 'gala_8.jpg'
							= image_tag 'gala_9.jpg'
							= image_tag 'gala_10.jpg'
						%td{class:"navButton"}
							%a{class:"forward"}
								.navButtonNext
									=image_tag 'nextImages.jpg'
				.slidetabs{style:"width:20%"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}

= render partial:"footer"