= render partial:"ie"
/= stylesheet_link_tag "gimpTop"
/= render partial:"top"
/#mainContainer
#mainC
	= render partial: "gimpTop" 
	#pageTitle
		%h1
			Our Work 2010
	#ourWork
		%table{class:"topTabs"}
			%tr{align:"center"}
				%td
					%a{href:"#"}
						Habitat For Humanity
				%td
					%a{href:"#"}
						Urban Ministry
				%td
					%a{href:"#"}
						Levine Hospital
		
		.topPanes
			%div
				%h4{class:"ourWorkHeader"}
					Habitat For Humanity
				%p
					&nbsp;&nbsp;&nbsp;The members of The Corners Society joined Habitat for Humanity to literally put a roof over the head of Glinh Romah and Yup Rolan in Southwest Charlotte. Starting out early one Saturday morning in July, the members nailed (and sometimes re-nailed) together an entire roof while working alongside Mr. Glinh Romah and Mr. Yup Rolan, the future owners. In the end, the day was a complete success. All of the members had a great time, no one fell off of the roof, and an important project was completed in the creation of a home for a member of the community.
				%table
					%tr
						%td{class:"navButton"}
							%a{class:"backward"}
								.navButtonPrev
									= image_tag 'nextImages.jpg'
						%td{class:"pictures"}
							= image_tag 'hab_1.jpg'
							= image_tag 'hab_2.jpg'
							= image_tag 'hab_3.jpg'
							= image_tag 'hab_4.jpg'
							= image_tag 'hab_5.jpg'
							= image_tag 'hab_6.jpg'
							= image_tag 'hab_7.jpg'
							= image_tag 'hab_8.jpg'
							= image_tag 'hab_9.jpg'
						%td{class:"navButton"}
							%a{class:"forward"}
								.navButtonNext
									=image_tag 'nextImages.jpg'
				.slidetabs{style:"width:17%;"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
			%div
				%h4{class:"ourWorkHeader"}
					Urban Ministry
				%p
					&nbsp;&nbsp;&nbsp;The Urban Ministry Center in Charlotte, NC is dedicated to serving our homeless neighbors in an effort end homelessness through a variety of initiatives. The Corners Society spent the day in the Urban Ministry gardens weeding, clearing, and aerating the plots, so that the neighbors could come back in to plant the next round of flowers, fruits, and vegetables, all of which will be used by the Urban Ministry.
				%p 
					&nbsp;&nbsp;&nbsp;While volunteering, we learned that the greatest material need for the neighbors at Urban Ministry is socks. In response, the Corners Society has donated 1,000+/- pairs of socks to the organization to give out, as needed
				%table
					%tr
						%td{class:"navButton"}
							%a{class:"backward"}
								.navButtonPrev
									= image_tag 'nextImages.jpg'
						%td{class:"pictures"}
							= image_tag 'IMG_0495.jpg'
							= image_tag 'IMG_0496.jpg'
							= image_tag 'IMG_0497.jpg'
							= image_tag 'IMG_0498.jpg'
							= image_tag 'IMG_0499.jpg'
							= image_tag 'IMG_0500.jpg'
							= image_tag 'IMG_0501.jpg'
							= image_tag 'IMG_0502.jpg'
							= image_tag 'IMG_0503.jpg'
							= image_tag 'IMG_0505.jpg'
							= image_tag 'Socks.png'
						%td{class:"navButton"}
							%a{class:"forward"}
								.navButtonNext
									=image_tag 'nextImages.jpg'
				.slidetabs{style:"width:20%;"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
			%div
				%h4{class:"ourWorkHeader"}
					Levine Hospital
				%p
					&nbsp;&nbsp;&nbsp;A premier fundraising event for Levine Children’s Hospital, the Hopebuilders 5K Run/Walk , now in its 15th year and attracts supporters of all kinds. Last October The Corners Society hosted and helped run “the kids amazing race” during the 5k and also made a general donation to the Levine Children’s Hospital.
				%table
					%tr
						%td{class:"navButton"}
							%a{class:"backward"}
								.navButtonPrev
									= image_tag 'nextImages.jpg'
						%td{class:"pictures"}
							= image_tag 'hope_0.jpg'
							= image_tag 'hope_1.jpg'
							= image_tag 'hope_2.jpg'
							= image_tag 'hope_3.jpg'
							= image_tag 'hope_4.jpg'
							= image_tag 'hope_5.jpg'
						%td{class:"navButton"}
							%a{class:"forward"}
								.navButtonNext
									=image_tag 'nextImages.jpg'
				.slidetabs{style:"width:10%;"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
= render partial:"footer"