= render partial:"ie"
= render partial:"top"
#mainContainer
	#pageTitle
		%h1
			Our Work 2011
	#ourWork
		%table{class:"topTabs"}
			%tr
				%td
					%a{href:"#"}
						Catawba Lands Conservancy
				%td
					%a{href:"#"}
						Men’s Shelter of Charlotte
				%td
					%a{href:"#"}
						Urban Ministry
				%td
					%a{href:"#"}
						Levine Children's Hospital
		
		.topPanes
			%div
				%h4{class:"ourWorkHeader"}
					Catawba Lands Conservancy
				%p
					&nbsp;&nbsp;&nbsp;Members of The Corners Society joined with 40 other local volunteers to rehabilitate the Carolina Thread Trail as part of the Catawba Lands Conservancy's initiative to preserve the Southern Piedmont of North Carolina. The Corners Society believes in the value of preserving the natural resources of the greater Charlotte area, and we were excited about the opportunity to help clean and clear this trail so that others may enjoy it.
				%table
					%tr
						%td{class:"navButton"}
							%a{class:"backward"}
								.navButtonPrev
									= image_tag 'nextImages.jpg'
						%td{class:"pictures"}
							= image_tag 'CA01.jpg'
							= image_tag 'CA02.jpg'
						%td{class:"navButton"}
							%a{class:"forward"}
								.navButtonNext
									=image_tag 'nextImages.jpg'
				.slidetabs
					%a{href:"#"}
					%a{href:"#"}
			%div
				%h4{class:"ourWorkHeader"}
					Men’s Shelter of Charlotte
				%p{style:"font-size:90%;"}
					&nbsp;&nbsp;&nbsp;On May 10th  2011, members of The Corners Society enjoyed a night of serving BBQ from Mac’s Speed Shop to nearly 300 men at the Men’s Shelter of Charlotte.  The menu included Mac’s famous pulled pork BBQ, homemade cole slaw, and delicious mac and cheese.  Despite heavy rain through most of the evening, hungry men steadily piled into the Statesville Avenue shelter as word spread of the delicious BBQ feast being served. 
					%br
					&nbsp;&nbsp;&nbsp;The event was made possible by donations raised at The Corners Society annual fundraiser and Mac’s Speed Shop which provided the food at a generous discount.  Staying true to our mission of honoring the City of Charlotte through philanthropic and charitable action, we look forward to making this event an annual tradition.
				%table
					%tr
						%td{class:"navButton"}
							%a{class:"backward"}
								.navButtonPrev
									= image_tag 'nextImages.jpg'
						%td{class:"pictures"}
							= image_tag 'Mens_Shelter_1.JPG'
							= image_tag 'Mens_Shelter_2.JPG'
						%td{class:"navButton"}
							%a{class:"forward"}
								.navButtonNext
									=image_tag 'nextImages.jpg'
				.slidetabs
					%a{href:"#"}
					%a{href:"#"}
			%div
				%h4{class:"ourWorkHeader"}
					Urban Ministry
				%p
					&nbsp;&nbsp;&nbsp;On Saturday, July 30th the Corners Society returned to the Urban Ministry to serve lunch to over 250 homeless men and women in the Charlotte community. The sandwiches were generously provided by Smitty Cook and Kyle Shuler, who operate four Sub Station II restaurants in Gaffney and Spartanburg, S.C.
				%table
					%tr
						%td{class:"navButton"}
							%a{class:"backward"}
								.navButtonPrev
									= image_tag 'nextImages.jpg'
						%td{class:"pictures"}
							= image_tag 'UMimage001.jpg'
							= image_tag 'UMimage002.jpg'
							= image_tag 'UMimage003.jpg'
							= image_tag 'UMimage004.jpg'
							= image_tag 'UMIMGP0089.JPG'
							= image_tag 'UMIMGP0087.JPG'														
						%td{class:"navButton"}
							%a{class:"forward"}
								.navButtonNext
									=image_tag 'nextImages.jpg'
				.slidetabs{style:"width:11%;"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}
			%div
				%h4{class:"ourWorkHeader"}
					Catawba Lands Conservancy
				%p
					&nbsp;&nbsp;&nbsp;In the winter of 2011, The Corners Society provided Holiday Support to a family in need during the Christmas Season through the Levine Children's Hospital. By purchasing and wrapping gifts ranging from those satisfying day to day necessities such as clothes to toys and books, we were able to make sure that a single mother of 3 young children, one of whom suffers from Sickle Cell Anemia, was able to give her family the Christmas she and her kids hoped for.
				%table
					%tr
						%td{class:"navButton"}
							%a{class:"backward"}
								.navButtonPrev
									= image_tag 'nextImages.jpg'
						%td{class:"pictures"}
							= image_tag 'pack1.JPG'
							= image_tag 'pack2.JPG'
							= image_tag 'pack3.JPG'
						%td{class:"navButton"}
							%a{class:"forward"}
								.navButtonNext
									=image_tag 'nextImages.jpg'
				.slidetabs
					%a{href:"#"}
					%a{href:"#"}
					%a{href:"#"}																				
= render partial:"footer"