.row
	.span12
		.page-header
			%h1
				2010 Annual Gala
.row
	.span12
		#myCarousel{class:"carousel"}
			.carousel-inner
				.active{class: "item"}
					.thumbnail
						= image_tag 'invitationii.png'
				.item
					.thumbnail
						= image_tag 'gala_0.jpg'
				.item
					.thumbnail
						= image_tag 'gala_1.jpg'
				.item
					.thumbnail
						= image_tag 'gala_2.jpg'
				.item
					.thumbnail
						= image_tag 'gala_3.jpg'
				.item
					.thumbnail
						= image_tag 'gala_4.jpg'
				.item
					.thumbnail
						= image_tag 'gala_5.jpg'
				.item
					.thumbnail
						= image_tag 'gala_6.jpg'
				.item
					.thumbnail
						= image_tag 'gala_7.jpg'
				.item
					.thumbnail
						= image_tag 'gala_8.jpg'
				.item
					.thumbnail
						= image_tag 'gala_9.jpg'
				.item
					.thumbnail
						= image_tag 'gala_10.jpg'
			%a.carousel-control{class: "left", href:"#myCarousel", "data-slide"=>"prev"} &lsaquo;
			%a.carousel-control{class:"right", href:"#myCarousel", "data-slide"=>"next"} &rsaquo;

