.row
	.span12
		.page-header
			%h1
				2012 Annual Gala
.row
	.span12
		#myCarousel{class:"carousel"}
			.carousel-inner
				.active{class: "item"}
					.thumbnail
						= image_tag 'gala/0001.jpg'
				.item
					.thumbnail
						= image_tag 'gala/0004.jpg'
				.item
					.thumbnail
						= image_tag 'gala/0012.jpg'
				.item
					.thumbnail
						= image_tag 'gala/0017.jpg'
				.item
					.thumbnail
						= image_tag 'gala/0016.jpg'
				.item
					.thumbnail
						= image_tag 'gala/0019.jpg'
				.item
					.thumbnail
						= image_tag 'gala/0025.jpg'
				.item
					.thumbnail
						= image_tag 'gala/0027.jpg'
				.item
					.thumbnail
						= image_tag 'gala/0035.jpg'
				.item
					.thumbnail
						= image_tag 'gala/0050.jpg'
				.item
					.thumbnail
						= image_tag 'gala/0053.jpg'
				.item
					.thumbnail
						= image_tag 'gala/0056.jpg'
				.item
					.thumbnail
						= image_tag 'gala/0061.jpg'
				.item
					.thumbnail
						= image_tag 'gala/0065.jpg'
				.item
					.thumbnail
						= image_tag 'gala/0071.jpg'
				.item
					.thumbnail
						= image_tag 'gala/0072.jpg'
			%a.carousel-control{class: "left", href:"#myCarousel", "data-slide"=>"prev"} &lsaquo;
			%a.carousel-control{class:"right", href:"#myCarousel", "data-slide"=>"next"} &rsaquo;