.row
	.span12
		.page-header
			%h1
				2010 Annual Gala
.row
	.span12
		#myCarousel{class:"carousel"}
			.carousel-inner
				.active{class: "item"}
					.thumbnail
						= image_tag assetURL('invitationii.png')
				.item
					.thumbnail
						= image_tag assetURL('gala_0.jpg')
				.item
					.thumbnail
						= image_tag assetURL('gala_1.jpg')
				.item
					.thumbnail
						= image_tag assetURL('gala_2.jpg')
				.item
					.thumbnail
						= image_tag assetURL('gala_3.jpg')
				.item
					.thumbnail
						= image_tag assetURL('gala_4.jpg')
				.item
					.thumbnail
						= image_tag assetURL('gala_5.jpg')
				.item
					.thumbnail
						= image_tag assetURL('gala_6.jpg')
				.item
					.thumbnail
						= image_tag assetURL('gala_7.jpg')
				.item
					.thumbnail
						= image_tag assetURL('gala_8.jpg')
				.item
					.thumbnail
						= image_tag assetURL('gala_9.jpg')
				.item
					.thumbnail
						= image_tag assetURL('gala_10.jpg')
			%a.carousel-control{class: "left", href:"#myCarousel", "data-slide"=>"prev"} &lsaquo;
			%a.carousel-control{class: "right", href:"#myCarousel", "data-slide"=>"next"} &rsaquo;

